<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">

 
  <a class="navbar-brand" href="#" [routerLink]="['/home']"  >Dating App</a>
 

    <ul *ngIf="logedin()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['/lists']">Lists</a>
      </li> 
      <li class="nav-item"  routerLinkActive="active" >     
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" [routerLink]="['/messages']">Messages</a>
      </li>

    </ul>

    <div  *ngIf="logedin()" class="dropdown" dropdown>
      <span>
        <img src="{{photoUrl || '../../assets/user.png'}}" alt="" class="mr-1">
      </span>
      <button class="btn btn-secondary dropdown-toggle" dropdownToggle >
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </button>
      <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton" *dropdownMenu >
        <a class="dropdown-item" [routerLink]="['/member/edit']" > <i class="fa fa-user"></i> Edit</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)='logeout()' href="#">  <i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>




    <form *ngIf="!logedin()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit) = "login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username" >
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password" >
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
